[Desktop Entry]
Encoding=UTF-8
Name=Snorcoin
Comment=Snorcoin P2P Cryptocurrency
Comment[fr]=Snorcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Snorcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/snorcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/snorcoin128.png
MimeType=x-scheme-handler/snorcoin;
Categories=Office;Finance;
