#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_snorcoin
#build/snorcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_snorcoin)

DEB_INSTALL_EXAMPLES_snorcoind += debian/examples/*
DEB_INSTALL_MANPAGES_snorcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix snorcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f snorcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake snorcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_snorcoin
	src/test_snorcoin

# Ensure wrapper is set executable
binary-post-install/snorcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/snorcoind
binary-post-install/snorcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/snorcoin-qt
